.scrollindicator {
  justify-content: center; /* Default alignment */
}

@media (max-width: 380px) {
  .scrollindicator {
    justify-content: end; /* Align to the right */
    margin-right: 16px; /* Add right margin */
  }
}
